openapi: 3.1.0
info:
  contact: {}
  description: "Welcome to the Solifyn API Reference. Leverage our secure endpoints\
    \ to manage products and issue, validate, and manage software license keys programmatically."
  title: Solifyn API
  version: 1.0.0
servers:
- description: Live environment
  url: https://api.solifyn.com
- description: Test environment
  url: https://sandbox-api.solifyn.com
security:
- ApiKeyAuth: []
paths:
  /v1/products:
    get:
      description: "List and query products belonging to your active business with\
        \ support for fuzzy search, filters, pagination, and sorting."
      operationId: products:list
      parameters:
      - description: Filter by pricing type.
        explode: true
        in: query
        name: pricingType
        required: false
        schema:
          type: string
        style: form
      - description: Sorting criterion. Add a minus sign - before the criteria name
          to sort by descending order.
        explode: true
        in: query
        name: sorting
        required: false
        schema:
          enum:
          - created_at
          - -created_at
          - name
          - -name
          - price_amount
          - -price_amount
          type: string
        style: form
      - description: "Size of a page, defaults to 10. Maximum is 100."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          type: number
        style: form
      - description: "Page number, defaults to 1."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: number
        style: form
      - description: "Filter on recurring products (subscriptions). If true, only\
          \ subscription tiers are returned. If false, only one-time purchase products\
          \ are returned."
        explode: true
        in: query
        name: is_recurring
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by archived status.
        explode: true
        in: query
        name: is_archived
        required: false
        schema:
          type: boolean
        style: form
      - description: "Filter by product name (fuzzy, case-insensitive)."
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Filter by product ID.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products_list_200_response'
          description: Successfully retrieved products list.
      security:
      - ApiKeyAuth: []
      summary: List Products
      tags:
      - Products
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // List all products under the business
          const products = await solifyn.products.list();
          console.log('Products:', products);
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // List all products under the business
          const products = await solifyn.products.list();
          console.log('Products:', products);
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.ProductsApi(api_client)

              try:
                  response = api_instance.products_list()
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling ProductsApi->products_list: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\ProductsApi;
          use GuzzleHttp\Client;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new ProductsApi(
              new Client(),
              $config
          );

          try {
              $result = $apiInstance->productsList();
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling ProductsApi->productsList: ', $e->getMessage(), PHP_EOL;
          }
      - lang: go
        label: Go SDK
        source: |-
          import (
              "context"
              "fmt"
              "os"
              solifyn "github.com/solifyn/solifyn-go"
          )

          configuration := solifyn.NewConfiguration()
          apiClient := solifyn.NewAPIClient(configuration)
          auth := context.WithValue(context.Background(), solifyn.ContextAccessToken, "your_private_api_key_here")

          resp, r, err := apiClient.ProductsAPI.ProductsList(auth).Execute()
          if err != nil {
              fmt.Fprintf(os.Stderr, "Error when calling `ProductsAPI.ProductsList`: %v\n", err)
              fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
              return
          }
          fmt.Printf("Response: %v\n", resp)
      - lang: java
        label: Java SDK
        source: |-
          import com.solifyn.ApiClient;
          import com.solifyn.ApiException;
          import com.solifyn.Configuration;
          import com.solifyn.auth.HttpBearerAuth;
          import com.solifyn.api.ProductsApi;
          import com.solifyn.model.*;
          import java.math.BigDecimal;
          import java.util.Arrays;
          import java.util.HashMap;
          import java.util.List;
          import java.util.Map;

          ApiClient defaultClient = Configuration.getDefaultApiClient();
          defaultClient.setBasePath("https://api.solifyn.com");

          HttpBearerAuth ApiKeyAuth = (HttpBearerAuth) defaultClient.getAuthentication("ApiKeyAuth");
          ApiKeyAuth.setBearerToken("your_private_api_key_here");

          ProductsApi apiInstance = new ProductsApi(defaultClient);

          try {
              ProductsList200Response result = apiInstance.productsList();
              System.out.println(result);
          } catch (ApiException e) {
              System.err.println("Exception when calling ProductsApi#productsList");
              e.printStackTrace();
          }
      - lang: ruby
        label: Ruby SDK
        source: |-
          require 'solifyn'

          Solifyn.configure do |config|
            config.access_token = 'your_private_api_key_here'
            config.host = 'localhost:8000'
          end

          api_instance = Solifyn::ProductsApi.new

          begin
            result = api_instance.products_list()
            p result
          rescue Solifyn::ApiError => e
            puts "Exception when calling ProductsApi->products_list: #{e}"
          end
      - lang: csharp
        label: C# SDK
        source: |-
          using Solifyn.Api;
          using Solifyn.Client;
          using Solifyn.Model;
          using System;
          using System.Collections.Generic;

          var config = new Configuration();
          config.BasePath = "https://api.solifyn.com";
          config.AccessToken = "your_private_api_key_here";

          var productsApi = new ProductsApi(config);

          try {
              var result = productsApi.ProductsList();
              Console.WriteLine(result);
          }
          catch (ApiException e) {
              Console.WriteLine("Exception when calling ProductsApi.ProductsList: " + e.Message);
          }
      - lang: kotlin
        label: Kotlin SDK
        source: |-
          import com.solifyn.infrastructure.ApiClient
          import com.solifyn.api.ProductsApi
          import com.solifyn.model.*
          import com.solifyn.infrastructure.ClientException
          import com.solifyn.infrastructure.ServerException

          ApiClient.accessToken = "your_private_api_key_here"
          val apiInstance = ProductsApi()

          try {
              val result = apiInstance.productsList()
              println(result)
          } catch (e: ClientException) {
              println("Client error: ${e.message}")
          } catch (e: ServerException) {
              println("Server error: ${e.message}")
          }
      x-accepts:
      - application/json
    post:
      description: Create a new product within your active business.
      operationId: products:create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: Product created successfully.
      security:
      - ApiKeyAuth: []
      summary: Create Product
      tags:
      - Products
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Create a new product
          const product = await solifyn.products.create({
            name: 'Premium SaaS Plan',
            price: 49.99,
            currency: 'usd',
            taxCategory: 'saas',
            pricingType: 'renewal',
            billingPeriod: 30
          });
          console.log('Product Created:', product);
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Create a new product
          const product = await solifyn.products.create({
            name: 'Premium SaaS Plan',
            price: 49.99,
            currency: 'usd',
            taxCategory: 'saas',
            pricingType: 'renewal',
            billingPeriod: 30
          });
          console.log('Product Created:', product);
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.ProductsApi(api_client)
              product_create = solifyn.ProductCreate(
                  name="Premium SaaS Plan",
                  price=49.99,
                  currency="usd",
                  tax_category="saas",
                  pricing_type="renewal",
                  billing_period=30,
              )

              try:
                  response = api_instance.products_create(product_create)
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling ProductsApi->products_create: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\ProductsApi;
          use GuzzleHttp\Client;
          use Solifyn\Model\ProductCreate;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new ProductsApi(
              new Client(),
              $config
          );
          $product_create = new ProductCreate();
          $product_create->setName('Premium SaaS Plan');
          $product_create->setPrice(49.99);
          $product_create->setCurrency('usd');
          $product_create->setTaxCategory('saas');
          $product_create->setPricingType('renewal');
          $product_create->setBillingPeriod(30);

          try {
              $result = $apiInstance->productsCreate($product_create);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling ProductsApi->productsCreate: ', $e->getMessage(), PHP_EOL;
          }
      - lang: go
        label: Go SDK
        source: |-
          import (
              "context"
              "fmt"
              "os"
              solifyn "github.com/solifyn/solifyn-go"
          )

          configuration := solifyn.NewConfiguration()
          apiClient := solifyn.NewAPIClient(configuration)
          auth := context.WithValue(context.Background(), solifyn.ContextAccessToken, "your_private_api_key_here")
          productCreate := *solifyn.NewProductCreate()
          productCreate.SetName("Premium SaaS Plan")
          productCreate.SetPrice(49.99)
          productCreate.SetCurrency("usd")
          productCreate.SetTaxCategory("saas")
          productCreate.SetPricingType("renewal")
          productCreate.SetBillingPeriod(30)

          resp, r, err := apiClient.ProductsAPI.ProductsCreate(auth).ProductCreate(productCreate).Execute()
          if err != nil {
              fmt.Fprintf(os.Stderr, "Error when calling `ProductsAPI.ProductsCreate`: %v\n", err)
              fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
              return
          }
          fmt.Printf("Response: %v\n", resp)
      - lang: java
        label: Java SDK
        source: |-
          import com.solifyn.ApiClient;
          import com.solifyn.ApiException;
          import com.solifyn.Configuration;
          import com.solifyn.auth.HttpBearerAuth;
          import com.solifyn.api.ProductsApi;
          import com.solifyn.model.*;
          import java.math.BigDecimal;
          import java.util.Arrays;
          import java.util.HashMap;
          import java.util.List;
          import java.util.Map;

          ApiClient defaultClient = Configuration.getDefaultApiClient();
          defaultClient.setBasePath("https://api.solifyn.com");

          HttpBearerAuth ApiKeyAuth = (HttpBearerAuth) defaultClient.getAuthentication("ApiKeyAuth");
          ApiKeyAuth.setBearerToken("your_private_api_key_here");

          ProductsApi apiInstance = new ProductsApi(defaultClient);
          ProductCreate productCreate = new ProductCreate()
              .name("Premium SaaS Plan")
              .price(new BigDecimal("49.99"))
              .currency("usd")
              .taxCategory("saas")
              .pricingType("renewal")
              .billingPeriod(new BigDecimal("30"));

          try {
              Product result = apiInstance.productsCreate(productCreate);
              System.out.println(result);
          } catch (ApiException e) {
              System.err.println("Exception when calling ProductsApi#productsCreate");
              e.printStackTrace();
          }
      - lang: ruby
        label: Ruby SDK
        source: |-
          require 'solifyn'

          Solifyn.configure do |config|
            config.access_token = 'your_private_api_key_here'
            config.host = 'localhost:8000'
          end

          api_instance = Solifyn::ProductsApi.new
          product_create = Solifyn::ProductCreate.new({
            name: 'Premium SaaS Plan',
            price: 49.99,
            currency: 'usd',
            tax_category: 'saas',
            pricing_type: 'renewal',
            billing_period: 30,
          })

          begin
            result = api_instance.products_create(product_create)
            p result
          rescue Solifyn::ApiError => e
            puts "Exception when calling ProductsApi->products_create: #{e}"
          end
      - lang: csharp
        label: C# SDK
        source: |-
          using Solifyn.Api;
          using Solifyn.Client;
          using Solifyn.Model;
          using System;
          using System.Collections.Generic;

          var config = new Configuration();
          config.BasePath = "https://api.solifyn.com";
          config.AccessToken = "your_private_api_key_here";

          var productsApi = new ProductsApi(config);
          var productCreate = new ProductCreate {
              Name = "Premium SaaS Plan",
              Price = 49.99m,
              Currency = "usd",
              TaxCategory = "saas",
              PricingType = "renewal",
              BillingPeriod = 30m,
          };

          try {
              var result = productsApi.ProductsCreate(productCreate);
              Console.WriteLine(result);
          }
          catch (ApiException e) {
              Console.WriteLine("Exception when calling ProductsApi.ProductsCreate: " + e.Message);
          }
      - lang: kotlin
        label: Kotlin SDK
        source: |-
          import com.solifyn.infrastructure.ApiClient
          import com.solifyn.api.ProductsApi
          import com.solifyn.model.*
          import com.solifyn.infrastructure.ClientException
          import com.solifyn.infrastructure.ServerException

          ApiClient.accessToken = "your_private_api_key_here"
          val apiInstance = ProductsApi()
          val productCreate = ProductCreate(
              name = "Premium SaaS Plan",
              price = java.math.BigDecimal("49.99"),
              currency = "usd",
              taxCategory = "saas",
              pricingType = "renewal",
              billingPeriod = java.math.BigDecimal("30"),
          )

          try {
              val result = apiInstance.productsCreate(productCreate)
              println(result)
          } catch (e: ClientException) {
              println("Client error: ${e.message}")
          } catch (e: ServerException) {
              println("Server error: ${e.message}")
          }
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/products/{id}:
    delete:
      description: Archive a specific product to hide it from checkout pages and search
        results. Products are soft-deleted (archived) and can be restored using the
        unarchive endpoint.
      operationId: products:archive
      parameters:
      - description: The unique product ID to archive.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: prod_123
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products_archive_200_response'
          description: Product archived successfully.
      security:
      - ApiKeyAuth: []
      summary: Archive Product
      tags:
      - Products
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Archive product
          await solifyn.products.archive('prod_019e56a1...');
          console.log('Product archived successfully');
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Archive product
          await solifyn.products.archive('prod_019e56a1...');
          console.log('Product archived successfully');
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.ProductsApi(api_client)
              id = "prod_019e56a1..."

              try:
                  response = api_instance.products_archive(id)
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling ProductsApi->products_archive: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\ProductsApi;
          use GuzzleHttp\Client;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new ProductsApi(
              new Client(),
              $config
          );
          $id = 'prod_019e56a1...';

          try {
              $result = $apiInstance->productsArchive($id);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling ProductsApi->productsArchive: ', $e->getMessage(), PHP_EOL;
          }
      - lang: go
        label: Go SDK
        source: |-
          import (
              "context"
              "fmt"
              "os"
              solifyn "github.com/solifyn/solifyn-go"
          )

          configuration := solifyn.NewConfiguration()
          apiClient := solifyn.NewAPIClient(configuration)
          auth := context.WithValue(context.Background(), solifyn.ContextAccessToken, "your_private_api_key_here")
          id := "prod_019e56a1..."

          resp, r, err := apiClient.ProductsAPI.ProductsArchive(auth, id).Execute()
          if err != nil {
              fmt.Fprintf(os.Stderr, "Error when calling `ProductsAPI.ProductsArchive`: %v\n", err)
              fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
              return
          }
          fmt.Printf("Response: %v\n", resp)
      - lang: java
        label: Java SDK
        source: |-
          import com.solifyn.ApiClient;
          import com.solifyn.ApiException;
          import com.solifyn.Configuration;
          import com.solifyn.auth.HttpBearerAuth;
          import com.solifyn.api.ProductsApi;
          import com.solifyn.model.*;
          import java.math.BigDecimal;
          import java.util.Arrays;
          import java.util.HashMap;
          import java.util.List;
          import java.util.Map;

          ApiClient defaultClient = Configuration.getDefaultApiClient();
          defaultClient.setBasePath("https://api.solifyn.com");

          HttpBearerAuth ApiKeyAuth = (HttpBearerAuth) defaultClient.getAuthentication("ApiKeyAuth");
          ApiKeyAuth.setBearerToken("your_private_api_key_here");

          ProductsApi apiInstance = new ProductsApi(defaultClient);
          String id = "prod_019e56a1...";

          try {
              ProductsArchive200Response result = apiInstance.productsArchive(id);
              System.out.println(result);
          } catch (ApiException e) {
              System.err.println("Exception when calling ProductsApi#productsArchive");
              e.printStackTrace();
          }
      - lang: ruby
        label: Ruby SDK
        source: |-
          require 'solifyn'

          Solifyn.configure do |config|
            config.access_token = 'your_private_api_key_here'
            config.host = 'localhost:8000'
          end

          api_instance = Solifyn::ProductsApi.new
          id = 'prod_019e56a1...'

          begin
            result = api_instance.products_archive(id)
            p result
          rescue Solifyn::ApiError => e
            puts "Exception when calling ProductsApi->products_archive: #{e}"
          end
      - lang: csharp
        label: C# SDK
        source: |-
          using Solifyn.Api;
          using Solifyn.Client;
          using Solifyn.Model;
          using System;
          using System.Collections.Generic;

          var config = new Configuration();
          config.BasePath = "https://api.solifyn.com";
          config.AccessToken = "your_private_api_key_here";

          var productsApi = new ProductsApi(config);
          var id = "prod_019e56a1...";

          try {
              var result = productsApi.ProductsArchive(id);
              Console.WriteLine(result);
          }
          catch (ApiException e) {
              Console.WriteLine("Exception when calling ProductsApi.ProductsArchive: " + e.Message);
          }
      - lang: kotlin
        label: Kotlin SDK
        source: |-
          import com.solifyn.infrastructure.ApiClient
          import com.solifyn.api.ProductsApi
          import com.solifyn.model.*
          import com.solifyn.infrastructure.ClientException
          import com.solifyn.infrastructure.ServerException

          ApiClient.accessToken = "your_private_api_key_here"
          val apiInstance = ProductsApi()
          val id = "prod_019e56a1..."

          try {
              val result = apiInstance.productsArchive(id)
              println(result)
          } catch (e: ClientException) {
              println("Client error: ${e.message}")
          } catch (e: ServerException) {
              println("Server error: ${e.message}")
          }
      x-accepts:
      - application/json
    get:
      description: Retrieve details of a specific product using its ID.
      operationId: products:get
      parameters:
      - description: The unique product ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: prod_123
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: Successfully retrieved product details.
      security:
      - ApiKeyAuth: []
      summary: Retrieve Product
      tags:
      - Products
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Retrieve product details
          const product = await solifyn.products.get('prod_019e56a1...');
          console.log('Product details:', product);
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Retrieve product details
          const product = await solifyn.products.get('prod_019e56a1...');
          console.log('Product details:', product);
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.ProductsApi(api_client)
              id = "prod_019e56a1..."

              try:
                  response = api_instance.products_get(id)
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling ProductsApi->products_get: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\ProductsApi;
          use GuzzleHttp\Client;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new ProductsApi(
              new Client(),
              $config
          );
          $id = 'prod_019e56a1...';

          try {
              $result = $apiInstance->productsGet($id);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling ProductsApi->productsGet: ', $e->getMessage(), PHP_EOL;
          }
      - lang: go
        label: Go SDK
        source: |-
          import (
              "context"
              "fmt"
              "os"
              solifyn "github.com/solifyn/solifyn-go"
          )

          configuration := solifyn.NewConfiguration()
          apiClient := solifyn.NewAPIClient(configuration)
          auth := context.WithValue(context.Background(), solifyn.ContextAccessToken, "your_private_api_key_here")
          id := "prod_019e56a1..."

          resp, r, err := apiClient.ProductsAPI.ProductsGet(auth, id).Execute()
          if err != nil {
              fmt.Fprintf(os.Stderr, "Error when calling `ProductsAPI.ProductsGet`: %v\n", err)
              fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
              return
          }
          fmt.Printf("Response: %v\n", resp)
      - lang: java
        label: Java SDK
        source: |-
          import com.solifyn.ApiClient;
          import com.solifyn.ApiException;
          import com.solifyn.Configuration;
          import com.solifyn.auth.HttpBearerAuth;
          import com.solifyn.api.ProductsApi;
          import com.solifyn.model.*;
          import java.math.BigDecimal;
          import java.util.Arrays;
          import java.util.HashMap;
          import java.util.List;
          import java.util.Map;

          ApiClient defaultClient = Configuration.getDefaultApiClient();
          defaultClient.setBasePath("https://api.solifyn.com");

          HttpBearerAuth ApiKeyAuth = (HttpBearerAuth) defaultClient.getAuthentication("ApiKeyAuth");
          ApiKeyAuth.setBearerToken("your_private_api_key_here");

          ProductsApi apiInstance = new ProductsApi(defaultClient);
          String id = "prod_019e56a1...";

          try {
              Product result = apiInstance.productsGet(id);
              System.out.println(result);
          } catch (ApiException e) {
              System.err.println("Exception when calling ProductsApi#productsGet");
              e.printStackTrace();
          }
      - lang: ruby
        label: Ruby SDK
        source: |-
          require 'solifyn'

          Solifyn.configure do |config|
            config.access_token = 'your_private_api_key_here'
            config.host = 'localhost:8000'
          end

          api_instance = Solifyn::ProductsApi.new
          id = 'prod_019e56a1...'

          begin
            result = api_instance.products_get(id)
            p result
          rescue Solifyn::ApiError => e
            puts "Exception when calling ProductsApi->products_get: #{e}"
          end
      - lang: csharp
        label: C# SDK
        source: |-
          using Solifyn.Api;
          using Solifyn.Client;
          using Solifyn.Model;
          using System;
          using System.Collections.Generic;

          var config = new Configuration();
          config.BasePath = "https://api.solifyn.com";
          config.AccessToken = "your_private_api_key_here";

          var productsApi = new ProductsApi(config);
          var id = "prod_019e56a1...";

          try {
              var result = productsApi.ProductsGet(id);
              Console.WriteLine(result);
          }
          catch (ApiException e) {
              Console.WriteLine("Exception when calling ProductsApi.ProductsGet: " + e.Message);
          }
      - lang: kotlin
        label: Kotlin SDK
        source: |-
          import com.solifyn.infrastructure.ApiClient
          import com.solifyn.api.ProductsApi
          import com.solifyn.model.*
          import com.solifyn.infrastructure.ClientException
          import com.solifyn.infrastructure.ServerException

          ApiClient.accessToken = "your_private_api_key_here"
          val apiInstance = ProductsApi()
          val id = "prod_019e56a1..."

          try {
              val result = apiInstance.productsGet(id)
              println(result)
          } catch (e: ClientException) {
              println("Client error: ${e.message}")
          } catch (e: ServerException) {
              println("Server error: ${e.message}")
          }
      x-accepts:
      - application/json
    patch:
      description: Update details of an existing product.
      operationId: products:update
      parameters:
      - description: The unique product ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: prod_123
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductMessageResponseDto'
          description: Product updated successfully.
      security:
      - ApiKeyAuth: []
      summary: Update Product
      tags:
      - Products
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Update product details
          const product = await solifyn.products.update('prod_019e56a1...', {
            name: 'Updated Product Name',
            price: 59.99
          });
          console.log('Product updated:', product);
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Update product details
          const product = await solifyn.products.update('prod_019e56a1...', {
            name: 'Updated Product Name',
            price: 59.99
          });
          console.log('Product updated:', product);
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.ProductsApi(api_client)
              id = "prod_019e56a1..."
              product_update = solifyn.ProductUpdate(
                  name="Updated Product Name",
                  price=59.99,
              )

              try:
                  response = api_instance.products_update(id, product_update)
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling ProductsApi->products_update: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\ProductsApi;
          use GuzzleHttp\Client;
          use Solifyn\Model\ProductUpdate;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new ProductsApi(
              new Client(),
              $config
          );
          $id = 'prod_019e56a1...';
          $product_update = new ProductUpdate();
          $product_update->setName('Updated Product Name');
          $product_update->setPrice(59.99);

          try {
              $result = $apiInstance->productsUpdate($id, $product_update);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling ProductsApi->productsUpdate: ', $e->getMessage(), PHP_EOL;
          }
      - lang: go
        label: Go SDK
        source: |-
          import (
              "context"
              "fmt"
              "os"
              solifyn "github.com/solifyn/solifyn-go"
          )

          configuration := solifyn.NewConfiguration()
          apiClient := solifyn.NewAPIClient(configuration)
          auth := context.WithValue(context.Background(), solifyn.ContextAccessToken, "your_private_api_key_here")
          id := "prod_019e56a1..."
          productUpdate := *solifyn.NewProductUpdate()
          productUpdate.SetName("Updated Product Name")
          productUpdate.SetPrice(59.99)

          resp, r, err := apiClient.ProductsAPI.ProductsUpdate(auth, id).ProductUpdate(productUpdate).Execute()
          if err != nil {
              fmt.Fprintf(os.Stderr, "Error when calling `ProductsAPI.ProductsUpdate`: %v\n", err)
              fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
              return
          }
          fmt.Printf("Response: %v\n", resp)
      - lang: java
        label: Java SDK
        source: |-
          import com.solifyn.ApiClient;
          import com.solifyn.ApiException;
          import com.solifyn.Configuration;
          import com.solifyn.auth.HttpBearerAuth;
          import com.solifyn.api.ProductsApi;
          import com.solifyn.model.*;
          import java.math.BigDecimal;
          import java.util.Arrays;
          import java.util.HashMap;
          import java.util.List;
          import java.util.Map;

          ApiClient defaultClient = Configuration.getDefaultApiClient();
          defaultClient.setBasePath("https://api.solifyn.com");

          HttpBearerAuth ApiKeyAuth = (HttpBearerAuth) defaultClient.getAuthentication("ApiKeyAuth");
          ApiKeyAuth.setBearerToken("your_private_api_key_here");

          ProductsApi apiInstance = new ProductsApi(defaultClient);
          String id = "prod_019e56a1...";
          ProductUpdate productUpdate = new ProductUpdate()
              .name("Updated Product Name")
              .price(new BigDecimal("59.99"));

          try {
              Product result = apiInstance.productsUpdate(id, productUpdate);
              System.out.println(result);
          } catch (ApiException e) {
              System.err.println("Exception when calling ProductsApi#productsUpdate");
              e.printStackTrace();
          }
      - lang: ruby
        label: Ruby SDK
        source: |-
          require 'solifyn'

          Solifyn.configure do |config|
            config.access_token = 'your_private_api_key_here'
            config.host = 'localhost:8000'
          end

          api_instance = Solifyn::ProductsApi.new
          id = 'prod_019e56a1...'
          product_update = Solifyn::ProductUpdate.new({
            name: 'Updated Product Name',
            price: 59.99,
          })

          begin
            result = api_instance.products_update(id, product_update)
            p result
          rescue Solifyn::ApiError => e
            puts "Exception when calling ProductsApi->products_update: #{e}"
          end
      - lang: csharp
        label: C# SDK
        source: |-
          using Solifyn.Api;
          using Solifyn.Client;
          using Solifyn.Model;
          using System;
          using System.Collections.Generic;

          var config = new Configuration();
          config.BasePath = "https://api.solifyn.com";
          config.AccessToken = "your_private_api_key_here";

          var productsApi = new ProductsApi(config);
          var id = "prod_019e56a1...";
          var productUpdate = new ProductUpdate {
              Name = "Updated Product Name",
              Price = 59.99m,
          };

          try {
              var result = productsApi.ProductsUpdate(id, productUpdate);
              Console.WriteLine(result);
          }
          catch (ApiException e) {
              Console.WriteLine("Exception when calling ProductsApi.ProductsUpdate: " + e.Message);
          }
      - lang: kotlin
        label: Kotlin SDK
        source: |-
          import com.solifyn.infrastructure.ApiClient
          import com.solifyn.api.ProductsApi
          import com.solifyn.model.*
          import com.solifyn.infrastructure.ClientException
          import com.solifyn.infrastructure.ServerException

          ApiClient.accessToken = "your_private_api_key_here"
          val apiInstance = ProductsApi()
          val id = "prod_019e56a1..."
          val productUpdate = ProductUpdate(
              name = "Updated Product Name",
              price = java.math.BigDecimal("59.99"),
          )

          try {
              val result = apiInstance.productsUpdate(id, productUpdate)
              println(result)
          } catch (e: ClientException) {
              println("Client error: ${e.message}")
          } catch (e: ServerException) {
              println("Server error: ${e.message}")
          }
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/products/{id}/unarchive:
    post:
      description: "Restore an archived product back to active status, making it visible\
        \ again."
      operationId: products:unarchive
      parameters:
      - description: The unique product ID to unarchive.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: prod_123
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products_unarchive_200_response'
          description: Product unarchived successfully.
      security:
      - ApiKeyAuth: []
      summary: Unarchive Product
      tags:
      - Products
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Unarchive product
          await solifyn.products.unarchive('prod_019e56a1...');
          console.log('Product unarchived successfully');
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Unarchive product
          await solifyn.products.unarchive('prod_019e56a1...');
          console.log('Product unarchived successfully');
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.ProductsApi(api_client)
              id = "prod_019e56a1..."

              try:
                  response = api_instance.products_unarchive(id)
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling ProductsApi->products_unarchive: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\ProductsApi;
          use GuzzleHttp\Client;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new ProductsApi(
              new Client(),
              $config
          );
          $id = 'prod_019e56a1...';

          try {
              $result = $apiInstance->productsUnarchive($id);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling ProductsApi->productsUnarchive: ', $e->getMessage(), PHP_EOL;
          }
      - lang: go
        label: Go SDK
        source: |-
          import (
              "context"
              "fmt"
              "os"
              solifyn "github.com/solifyn/solifyn-go"
          )

          configuration := solifyn.NewConfiguration()
          apiClient := solifyn.NewAPIClient(configuration)
          auth := context.WithValue(context.Background(), solifyn.ContextAccessToken, "your_private_api_key_here")
          id := "prod_019e56a1..."

          resp, r, err := apiClient.ProductsAPI.ProductsUnarchive(auth, id).Execute()
          if err != nil {
              fmt.Fprintf(os.Stderr, "Error when calling `ProductsAPI.ProductsUnarchive`: %v\n", err)
              fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
              return
          }
          fmt.Printf("Response: %v\n", resp)
      - lang: java
        label: Java SDK
        source: |-
          import com.solifyn.ApiClient;
          import com.solifyn.ApiException;
          import com.solifyn.Configuration;
          import com.solifyn.auth.HttpBearerAuth;
          import com.solifyn.api.ProductsApi;
          import com.solifyn.model.*;
          import java.math.BigDecimal;
          import java.util.Arrays;
          import java.util.HashMap;
          import java.util.List;
          import java.util.Map;

          ApiClient defaultClient = Configuration.getDefaultApiClient();
          defaultClient.setBasePath("https://api.solifyn.com");

          HttpBearerAuth ApiKeyAuth = (HttpBearerAuth) defaultClient.getAuthentication("ApiKeyAuth");
          ApiKeyAuth.setBearerToken("your_private_api_key_here");

          ProductsApi apiInstance = new ProductsApi(defaultClient);
          String id = "prod_019e56a1...";

          try {
              ProductsUnarchive200Response result = apiInstance.productsUnarchive(id);
              System.out.println(result);
          } catch (ApiException e) {
              System.err.println("Exception when calling ProductsApi#productsUnarchive");
              e.printStackTrace();
          }
      - lang: ruby
        label: Ruby SDK
        source: |-
          require 'solifyn'

          Solifyn.configure do |config|
            config.access_token = 'your_private_api_key_here'
            config.host = 'localhost:8000'
          end

          api_instance = Solifyn::ProductsApi.new
          id = 'prod_019e56a1...'

          begin
            result = api_instance.products_unarchive(id)
            p result
          rescue Solifyn::ApiError => e
            puts "Exception when calling ProductsApi->products_unarchive: #{e}"
          end
      - lang: csharp
        label: C# SDK
        source: |-
          using Solifyn.Api;
          using Solifyn.Client;
          using Solifyn.Model;
          using System;
          using System.Collections.Generic;

          var config = new Configuration();
          config.BasePath = "https://api.solifyn.com";
          config.AccessToken = "your_private_api_key_here";

          var productsApi = new ProductsApi(config);
          var id = "prod_019e56a1...";

          try {
              var result = productsApi.ProductsUnarchive(id);
              Console.WriteLine(result);
          }
          catch (ApiException e) {
              Console.WriteLine("Exception when calling ProductsApi.ProductsUnarchive: " + e.Message);
          }
      - lang: kotlin
        label: Kotlin SDK
        source: |-
          import com.solifyn.infrastructure.ApiClient
          import com.solifyn.api.ProductsApi
          import com.solifyn.model.*
          import com.solifyn.infrastructure.ClientException
          import com.solifyn.infrastructure.ServerException

          ApiClient.accessToken = "your_private_api_key_here"
          val apiInstance = ProductsApi()
          val id = "prod_019e56a1..."

          try {
              val result = apiInstance.productsUnarchive(id)
              println(result)
          } catch (e: ClientException) {
              println("Client error: ${e.message}")
          } catch (e: ServerException) {
              println("Server error: ${e.message}")
          }
      x-accepts:
      - application/json
  /v1/licenses:
    get:
      description: List all administrative license keys belonging to products under
        your active business.
      operationId: licenses:list
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/License'
                type: array
          description: Successfully retrieved licenses list.
      security:
      - ApiKeyAuth: []
      summary: List License Keys
      tags:
      - License
      - License Keys
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // List license keys
          const licenses = await solifyn.licenses.list();
          console.log('Licenses:', licenses);
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // List license keys
          const licenses = await solifyn.licenses.list();
          console.log('Licenses:', licenses);
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.LicenseApi(api_client)

              try:
                  response = api_instance.licenses_list()
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling LicenseApi->licenses_list: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\LicenseApi;
          use GuzzleHttp\Client;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new LicenseApi(
              new Client(),
              $config
          );

          try {
              $result = $apiInstance->licensesList();
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling LicenseApi->licensesList: ', $e->getMessage(), PHP_EOL;
          }
      - lang: go
        label: Go SDK
        source: |-
          import (
              "context"
              "fmt"
              "os"
              solifyn "github.com/solifyn/solifyn-go"
          )

          configuration := solifyn.NewConfiguration()
          apiClient := solifyn.NewAPIClient(configuration)
          auth := context.WithValue(context.Background(), solifyn.ContextAccessToken, "your_private_api_key_here")

          resp, r, err := apiClient.LicenseAPI.LicensesList(auth).Execute()
          if err != nil {
              fmt.Fprintf(os.Stderr, "Error when calling `LicenseAPI.LicensesList`: %v\n", err)
              fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
              return
          }
          fmt.Printf("Response: %v\n", resp)
      - lang: java
        label: Java SDK
        source: |-
          import com.solifyn.ApiClient;
          import com.solifyn.ApiException;
          import com.solifyn.Configuration;
          import com.solifyn.auth.HttpBearerAuth;
          import com.solifyn.api.LicenseApi;
          import com.solifyn.model.*;
          import java.math.BigDecimal;
          import java.util.Arrays;
          import java.util.HashMap;
          import java.util.List;
          import java.util.Map;

          ApiClient defaultClient = Configuration.getDefaultApiClient();
          defaultClient.setBasePath("https://api.solifyn.com");

          HttpBearerAuth ApiKeyAuth = (HttpBearerAuth) defaultClient.getAuthentication("ApiKeyAuth");
          ApiKeyAuth.setBearerToken("your_private_api_key_here");

          LicenseApi apiInstance = new LicenseApi(defaultClient);

          try {
              List<License> result = apiInstance.licensesList();
              System.out.println(result);
          } catch (ApiException e) {
              System.err.println("Exception when calling LicenseApi#licensesList");
              e.printStackTrace();
          }
      - lang: ruby
        label: Ruby SDK
        source: |-
          require 'solifyn'

          Solifyn.configure do |config|
            config.access_token = 'your_private_api_key_here'
            config.host = 'localhost:8000'
          end

          api_instance = Solifyn::LicenseApi.new

          begin
            result = api_instance.licenses_list()
            p result
          rescue Solifyn::ApiError => e
            puts "Exception when calling LicenseApi->licenses_list: #{e}"
          end
      - lang: csharp
        label: C# SDK
        source: |-
          using Solifyn.Api;
          using Solifyn.Client;
          using Solifyn.Model;
          using System;
          using System.Collections.Generic;

          var config = new Configuration();
          config.BasePath = "https://api.solifyn.com";
          config.AccessToken = "your_private_api_key_here";

          var licenseApi = new LicenseApi(config);

          try {
              var result = licenseApi.LicensesList();
              Console.WriteLine(result);
          }
          catch (ApiException e) {
              Console.WriteLine("Exception when calling LicenseApi.LicensesList: " + e.Message);
          }
      - lang: kotlin
        label: Kotlin SDK
        source: |-
          import com.solifyn.infrastructure.ApiClient
          import com.solifyn.api.LicenseApi
          import com.solifyn.model.*
          import com.solifyn.infrastructure.ClientException
          import com.solifyn.infrastructure.ServerException

          ApiClient.accessToken = "your_private_api_key_here"
          val apiInstance = LicenseApi()

          try {
              val result = apiInstance.licensesList()
              println(result)
          } catch (e: ClientException) {
              println("Client error: ${e.message}")
          } catch (e: ServerException) {
              println("Server error: ${e.message}")
          }
      x-accepts:
      - application/json
    post:
      description: Manually issue a new license key for a specific product.
      operationId: licenses:create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/licenses_create_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/License'
          description: Successfully created license.
      security:
      - ApiKeyAuth: []
      summary: Create License Key
      tags:
      - License
      - License Keys
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Create a new license key
          const license = await solifyn.licenses.create({
            productId: 'prod_019e56a1...',
            customerId: 'cust_019e56a1...',
            activationLimit: 5,
            expiryHours: 720
          });
          console.log('License Created:', license);
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Create a new license key
          const license = await solifyn.licenses.create({
            productId: 'prod_019e56a1...',
            customerId: 'cust_019e56a1...',
            activationLimit: 5,
            expiryHours: 720
          });
          console.log('License Created:', license);
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.LicenseApi(api_client)
              licenses_create_request = solifyn.LicensesCreateRequest(
                  product_id="prod_019e56a1...",
                  customer_id="cust_019e56a1...",
                  activation_limit=5,
                  expiry_hours=720,
              )

              try:
                  response = api_instance.licenses_create(licenses_create_request)
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling LicenseApi->licenses_create: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\LicenseApi;
          use GuzzleHttp\Client;
          use Solifyn\Model\LicensesCreateRequest;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new LicenseApi(
              new Client(),
              $config
          );
          $licenses_create_request = new LicensesCreateRequest();
          $licenses_create_request->setProductId('prod_019e56a1...');
          $licenses_create_request->setCustomerId('cust_019e56a1...');
          $licenses_create_request->setActivationLimit(5);
          $licenses_create_request->setExpiryHours(720);

          try {
              $result = $apiInstance->licensesCreate($licenses_create_request);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling LicenseApi->licensesCreate: ', $e->getMessage(), PHP_EOL;
          }
      - lang: go
        label: Go SDK
        source: |-
          import (
              "context"
              "fmt"
              "os"
              solifyn "github.com/solifyn/solifyn-go"
          )

          configuration := solifyn.NewConfiguration()
          apiClient := solifyn.NewAPIClient(configuration)
          auth := context.WithValue(context.Background(), solifyn.ContextAccessToken, "your_private_api_key_here")
          licensesCreateRequest := *solifyn.NewLicensesCreateRequest("prod_019e56a1...")
          licensesCreateRequest.SetCustomerId("cust_019e56a1...")
          licensesCreateRequest.SetActivationLimit(5)
          licensesCreateRequest.SetExpiryHours(720)

          resp, r, err := apiClient.LicenseAPI.LicensesCreate(auth).LicensesCreateRequest(licensesCreateRequest).Execute()
          if err != nil {
              fmt.Fprintf(os.Stderr, "Error when calling `LicenseAPI.LicensesCreate`: %v\n", err)
              fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
              return
          }
          fmt.Printf("Response: %v\n", resp)
      - lang: java
        label: Java SDK
        source: |-
          import com.solifyn.ApiClient;
          import com.solifyn.ApiException;
          import com.solifyn.Configuration;
          import com.solifyn.auth.HttpBearerAuth;
          import com.solifyn.api.LicenseApi;
          import com.solifyn.model.*;
          import java.math.BigDecimal;
          import java.util.Arrays;
          import java.util.HashMap;
          import java.util.List;
          import java.util.Map;

          ApiClient defaultClient = Configuration.getDefaultApiClient();
          defaultClient.setBasePath("https://api.solifyn.com");

          HttpBearerAuth ApiKeyAuth = (HttpBearerAuth) defaultClient.getAuthentication("ApiKeyAuth");
          ApiKeyAuth.setBearerToken("your_private_api_key_here");

          LicenseApi apiInstance = new LicenseApi(defaultClient);
          LicensesCreateRequest licensesCreateRequest = new LicensesCreateRequest()
              .productId("prod_019e56a1...")
              .customerId("cust_019e56a1...")
              .activationLimit(new BigDecimal("5"))
              .expiryHours(new BigDecimal("720"));

          try {
              License result = apiInstance.licensesCreate(licensesCreateRequest);
              System.out.println(result);
          } catch (ApiException e) {
              System.err.println("Exception when calling LicenseApi#licensesCreate");
              e.printStackTrace();
          }
      - lang: ruby
        label: Ruby SDK
        source: |-
          require 'solifyn'

          Solifyn.configure do |config|
            config.access_token = 'your_private_api_key_here'
            config.host = 'localhost:8000'
          end

          api_instance = Solifyn::LicenseApi.new
          licenses_create_request = Solifyn::LicensesCreateRequest.new({
            product_id: 'prod_019e56a1...',
            customer_id: 'cust_019e56a1...',
            activation_limit: 5,
            expiry_hours: 720,
          })

          begin
            result = api_instance.licenses_create(licenses_create_request)
            p result
          rescue Solifyn::ApiError => e
            puts "Exception when calling LicenseApi->licenses_create: #{e}"
          end
      - lang: csharp
        label: C# SDK
        source: |-
          using Solifyn.Api;
          using Solifyn.Client;
          using Solifyn.Model;
          using System;
          using System.Collections.Generic;

          var config = new Configuration();
          config.BasePath = "https://api.solifyn.com";
          config.AccessToken = "your_private_api_key_here";

          var licenseApi = new LicenseApi(config);
          var licensesCreateRequest = new LicensesCreateRequest {
              ProductId = "prod_019e56a1...",
              CustomerId = "cust_019e56a1...",
              ActivationLimit = 5m,
              ExpiryHours = 720m,
          };

          try {
              var result = licenseApi.LicensesCreate(licensesCreateRequest);
              Console.WriteLine(result);
          }
          catch (ApiException e) {
              Console.WriteLine("Exception when calling LicenseApi.LicensesCreate: " + e.Message);
          }
      - lang: kotlin
        label: Kotlin SDK
        source: |-
          import com.solifyn.infrastructure.ApiClient
          import com.solifyn.api.LicenseApi
          import com.solifyn.model.*
          import com.solifyn.infrastructure.ClientException
          import com.solifyn.infrastructure.ServerException

          ApiClient.accessToken = "your_private_api_key_here"
          val apiInstance = LicenseApi()
          val licensesCreateRequest = LicensesCreateRequest(
              productId = "prod_019e56a1...",
              customerId = "cust_019e56a1...",
              activationLimit = java.math.BigDecimal("5"),
              expiryHours = java.math.BigDecimal("720"),
          )

          try {
              val result = apiInstance.licensesCreate(licensesCreateRequest)
              println(result)
          } catch (e: ClientException) {
              println("Client error: ${e.message}")
          } catch (e: ServerException) {
              println("Server error: ${e.message}")
          }
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/licenses/{id}:
    get:
      description: Retrieve complete administrative details of a specific license
        key.
      operationId: licenses:get
      parameters:
      - description: The unique license key ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/License'
          description: Successfully retrieved license details.
      security:
      - ApiKeyAuth: []
      summary: Get License Key
      tags:
      - License
      - License Keys
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Retrieve license key details
          const license = await solifyn.licenses.get('lic_019e56a1...');
          console.log('License Details:', license);
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Retrieve license key details
          const license = await solifyn.licenses.get('lic_019e56a1...');
          console.log('License Details:', license);
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.LicenseApi(api_client)
              id = "lic_019e56a1..."

              try:
                  response = api_instance.licenses_get(id)
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling LicenseApi->licenses_get: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\LicenseApi;
          use GuzzleHttp\Client;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new LicenseApi(
              new Client(),
              $config
          );
          $id = 'lic_019e56a1...';

          try {
              $result = $apiInstance->licensesGet($id);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling LicenseApi->licensesGet: ', $e->getMessage(), PHP_EOL;
          }
      - lang: go
        label: Go SDK
        source: |-
          import (
              "context"
              "fmt"
              "os"
              solifyn "github.com/solifyn/solifyn-go"
          )

          configuration := solifyn.NewConfiguration()
          apiClient := solifyn.NewAPIClient(configuration)
          auth := context.WithValue(context.Background(), solifyn.ContextAccessToken, "your_private_api_key_here")
          id := "lic_019e56a1..."

          resp, r, err := apiClient.LicenseAPI.LicensesGet(auth, id).Execute()
          if err != nil {
              fmt.Fprintf(os.Stderr, "Error when calling `LicenseAPI.LicensesGet`: %v\n", err)
              fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
              return
          }
          fmt.Printf("Response: %v\n", resp)
      - lang: java
        label: Java SDK
        source: |-
          import com.solifyn.ApiClient;
          import com.solifyn.ApiException;
          import com.solifyn.Configuration;
          import com.solifyn.auth.HttpBearerAuth;
          import com.solifyn.api.LicenseApi;
          import com.solifyn.model.*;
          import java.math.BigDecimal;
          import java.util.Arrays;
          import java.util.HashMap;
          import java.util.List;
          import java.util.Map;

          ApiClient defaultClient = Configuration.getDefaultApiClient();
          defaultClient.setBasePath("https://api.solifyn.com");

          HttpBearerAuth ApiKeyAuth = (HttpBearerAuth) defaultClient.getAuthentication("ApiKeyAuth");
          ApiKeyAuth.setBearerToken("your_private_api_key_here");

          LicenseApi apiInstance = new LicenseApi(defaultClient);
          String id = "lic_019e56a1...";

          try {
              License result = apiInstance.licensesGet(id);
              System.out.println(result);
          } catch (ApiException e) {
              System.err.println("Exception when calling LicenseApi#licensesGet");
              e.printStackTrace();
          }
      - lang: ruby
        label: Ruby SDK
        source: |-
          require 'solifyn'

          Solifyn.configure do |config|
            config.access_token = 'your_private_api_key_here'
            config.host = 'localhost:8000'
          end

          api_instance = Solifyn::LicenseApi.new
          id = 'lic_019e56a1...'

          begin
            result = api_instance.licenses_get(id)
            p result
          rescue Solifyn::ApiError => e
            puts "Exception when calling LicenseApi->licenses_get: #{e}"
          end
      - lang: csharp
        label: C# SDK
        source: |-
          using Solifyn.Api;
          using Solifyn.Client;
          using Solifyn.Model;
          using System;
          using System.Collections.Generic;

          var config = new Configuration();
          config.BasePath = "https://api.solifyn.com";
          config.AccessToken = "your_private_api_key_here";

          var licenseApi = new LicenseApi(config);
          var id = "lic_019e56a1...";

          try {
              var result = licenseApi.LicensesGet(id);
              Console.WriteLine(result);
          }
          catch (ApiException e) {
              Console.WriteLine("Exception when calling LicenseApi.LicensesGet: " + e.Message);
          }
      - lang: kotlin
        label: Kotlin SDK
        source: |-
          import com.solifyn.infrastructure.ApiClient
          import com.solifyn.api.LicenseApi
          import com.solifyn.model.*
          import com.solifyn.infrastructure.ClientException
          import com.solifyn.infrastructure.ServerException

          ApiClient.accessToken = "your_private_api_key_here"
          val apiInstance = LicenseApi()
          val id = "lic_019e56a1..."

          try {
              val result = apiInstance.licensesGet(id)
              println(result)
          } catch (e: ClientException) {
              println("Client error: ${e.message}")
          } catch (e: ServerException) {
              println("Server error: ${e.message}")
          }
      x-accepts:
      - application/json
    patch:
      description: Update limits or status of an existing license key.
      operationId: licenses:update
      parameters:
      - description: The unique license key ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/licenses_update_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/License'
          description: Successfully updated license.
      security:
      - ApiKeyAuth: []
      summary: Update License Key
      tags:
      - License
      - License Keys
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Update license key administrative settings
          const license = await solifyn.licenses.update('lic_019e56a1...', {
            status: 'ACTIVE',
            activationLimit: 10
          });
          console.log('License Updated:', license);
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Update license key administrative settings
          const license = await solifyn.licenses.update('lic_019e56a1...', {
            status: 'ACTIVE',
            activationLimit: 10
          });
          console.log('License Updated:', license);
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.LicenseApi(api_client)
              id = "lic_019e56a1..."
              licenses_update_request = solifyn.LicensesUpdateRequest(
                  activation_limit=10,
              )

              try:
                  response = api_instance.licenses_update(id, licenses_update_request)
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling LicenseApi->licenses_update: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\LicenseApi;
          use GuzzleHttp\Client;
          use Solifyn\Model\LicensesUpdateRequest;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new LicenseApi(
              new Client(),
              $config
          );
          $id = 'lic_019e56a1...';
          $licenses_update_request = new LicensesUpdateRequest();
          $licenses_update_request->setActivationLimit(10);

          try {
              $result = $apiInstance->licensesUpdate($id, $licenses_update_request);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling LicenseApi->licensesUpdate: ', $e->getMessage(), PHP_EOL;
          }
      - lang: go
        label: Go SDK
        source: |-
          import (
              "context"
              "fmt"
              "os"
              solifyn "github.com/solifyn/solifyn-go"
          )

          configuration := solifyn.NewConfiguration()
          apiClient := solifyn.NewAPIClient(configuration)
          auth := context.WithValue(context.Background(), solifyn.ContextAccessToken, "your_private_api_key_here")
          id := "lic_019e56a1..."
          licensesUpdateRequest := *solifyn.NewLicensesUpdateRequest()
          licensesUpdateRequest.SetActivationLimit(10)

          resp, r, err := apiClient.LicenseAPI.LicensesUpdate(auth, id).LicensesUpdateRequest(licensesUpdateRequest).Execute()
          if err != nil {
              fmt.Fprintf(os.Stderr, "Error when calling `LicenseAPI.LicensesUpdate`: %v\n", err)
              fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
              return
          }
          fmt.Printf("Response: %v\n", resp)
      - lang: java
        label: Java SDK
        source: |-
          import com.solifyn.ApiClient;
          import com.solifyn.ApiException;
          import com.solifyn.Configuration;
          import com.solifyn.auth.HttpBearerAuth;
          import com.solifyn.api.LicenseApi;
          import com.solifyn.model.*;
          import java.math.BigDecimal;
          import java.util.Arrays;
          import java.util.HashMap;
          import java.util.List;
          import java.util.Map;

          ApiClient defaultClient = Configuration.getDefaultApiClient();
          defaultClient.setBasePath("https://api.solifyn.com");

          HttpBearerAuth ApiKeyAuth = (HttpBearerAuth) defaultClient.getAuthentication("ApiKeyAuth");
          ApiKeyAuth.setBearerToken("your_private_api_key_here");

          LicenseApi apiInstance = new LicenseApi(defaultClient);
          String id = "lic_019e56a1...";
          LicensesUpdateRequest licensesUpdateRequest = new LicensesUpdateRequest()
              .activationLimit(new BigDecimal("10"));

          try {
              License result = apiInstance.licensesUpdate(id, licensesUpdateRequest);
              System.out.println(result);
          } catch (ApiException e) {
              System.err.println("Exception when calling LicenseApi#licensesUpdate");
              e.printStackTrace();
          }
      - lang: ruby
        label: Ruby SDK
        source: |-
          require 'solifyn'

          Solifyn.configure do |config|
            config.access_token = 'your_private_api_key_here'
            config.host = 'localhost:8000'
          end

          api_instance = Solifyn::LicenseApi.new
          id = 'lic_019e56a1...'
          licenses_update_request = Solifyn::LicensesUpdateRequest.new({
            activation_limit: 10,
          })

          begin
            result = api_instance.licenses_update(id, licenses_update_request)
            p result
          rescue Solifyn::ApiError => e
            puts "Exception when calling LicenseApi->licenses_update: #{e}"
          end
      - lang: csharp
        label: C# SDK
        source: |-
          using Solifyn.Api;
          using Solifyn.Client;
          using Solifyn.Model;
          using System;
          using System.Collections.Generic;

          var config = new Configuration();
          config.BasePath = "https://api.solifyn.com";
          config.AccessToken = "your_private_api_key_here";

          var licenseApi = new LicenseApi(config);
          var id = "lic_019e56a1...";
          var licensesUpdateRequest = new LicensesUpdateRequest {
              ActivationLimit = 10m,
          };

          try {
              var result = licenseApi.LicensesUpdate(id, licensesUpdateRequest);
              Console.WriteLine(result);
          }
          catch (ApiException e) {
              Console.WriteLine("Exception when calling LicenseApi.LicensesUpdate: " + e.Message);
          }
      - lang: kotlin
        label: Kotlin SDK
        source: |-
          import com.solifyn.infrastructure.ApiClient
          import com.solifyn.api.LicenseApi
          import com.solifyn.model.*
          import com.solifyn.infrastructure.ClientException
          import com.solifyn.infrastructure.ServerException

          ApiClient.accessToken = "your_private_api_key_here"
          val apiInstance = LicenseApi()
          val id = "lic_019e56a1..."
          val licensesUpdateRequest = LicensesUpdateRequest(
              activationLimit = java.math.BigDecimal("10"),
          )

          try {
              val result = apiInstance.licensesUpdate(id, licensesUpdateRequest)
              println(result)
          } catch (e: ClientException) {
              println("Client error: ${e.message}")
          } catch (e: ServerException) {
              println("Server error: ${e.message}")
          }
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/licenses/{id}/instances:
    get:
      description: Retrieve all active devices/instances for a specific administrative
        license key.
      operationId: licenses:getInstances
      parameters:
      - description: The unique administrative identifier (ID) of the parent license
          key.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: lic_123
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Instance'
                type: array
          description: Successfully retrieved instances.
      security:
      - ApiKeyAuth: []
      summary: Get License Key Instances
      tags:
      - License
      - License Keys
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Get all active instances/devices for a license key
          const instances = await solifyn.licenses.getInstancesAdmin('lic_019e56a1...');
          console.log('License Key Instances:', instances);
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Get all active instances/devices for a license key
          const instances = await solifyn.licenses.getInstancesAdmin('lic_019e56a1...');
          console.log('License Key Instances:', instances);
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.LicenseApi(api_client)
              id = "lic_019e56a1..."

              try:
                  response = api_instance.licenses_get_instances(id)
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling LicenseApi->licenses_get_instances: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\LicenseApi;
          use GuzzleHttp\Client;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new LicenseApi(
              new Client(),
              $config
          );
          $id = 'lic_019e56a1...';

          try {
              $result = $apiInstance->licensesGetInstances($id);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling LicenseApi->licensesGetInstances: ', $e->getMessage(), PHP_EOL;
          }
      - lang: go
        label: Go SDK
        source: |-
          import (
              "context"
              "fmt"
              "os"
              solifyn "github.com/solifyn/solifyn-go"
          )

          configuration := solifyn.NewConfiguration()
          apiClient := solifyn.NewAPIClient(configuration)
          auth := context.WithValue(context.Background(), solifyn.ContextAccessToken, "your_private_api_key_here")
          id := "lic_019e56a1..."

          resp, r, err := apiClient.LicenseAPI.LicensesGetInstances(auth, id).Execute()
          if err != nil {
              fmt.Fprintf(os.Stderr, "Error when calling `LicenseAPI.LicensesGetInstances`: %v\n", err)
              fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
              return
          }
          fmt.Printf("Response: %v\n", resp)
      - lang: java
        label: Java SDK
        source: |-
          import com.solifyn.ApiClient;
          import com.solifyn.ApiException;
          import com.solifyn.Configuration;
          import com.solifyn.auth.HttpBearerAuth;
          import com.solifyn.api.LicenseApi;
          import com.solifyn.model.*;
          import java.math.BigDecimal;
          import java.util.Arrays;
          import java.util.HashMap;
          import java.util.List;
          import java.util.Map;

          ApiClient defaultClient = Configuration.getDefaultApiClient();
          defaultClient.setBasePath("https://api.solifyn.com");

          HttpBearerAuth ApiKeyAuth = (HttpBearerAuth) defaultClient.getAuthentication("ApiKeyAuth");
          ApiKeyAuth.setBearerToken("your_private_api_key_here");

          LicenseApi apiInstance = new LicenseApi(defaultClient);
          String id = "lic_019e56a1...";

          try {
              List<Instance> result = apiInstance.licensesGetInstances(id);
              System.out.println(result);
          } catch (ApiException e) {
              System.err.println("Exception when calling LicenseApi#licensesGetInstances");
              e.printStackTrace();
          }
      - lang: ruby
        label: Ruby SDK
        source: |-
          require 'solifyn'

          Solifyn.configure do |config|
            config.access_token = 'your_private_api_key_here'
            config.host = 'localhost:8000'
          end

          api_instance = Solifyn::LicenseApi.new
          id = 'lic_019e56a1...'

          begin
            result = api_instance.licenses_get_instances(id)
            p result
          rescue Solifyn::ApiError => e
            puts "Exception when calling LicenseApi->licenses_get_instances: #{e}"
          end
      - lang: csharp
        label: C# SDK
        source: |-
          using Solifyn.Api;
          using Solifyn.Client;
          using Solifyn.Model;
          using System;
          using System.Collections.Generic;

          var config = new Configuration();
          config.BasePath = "https://api.solifyn.com";
          config.AccessToken = "your_private_api_key_here";

          var licenseApi = new LicenseApi(config);
          var id = "lic_019e56a1...";

          try {
              var result = licenseApi.LicensesGetInstances(id);
              Console.WriteLine(result);
          }
          catch (ApiException e) {
              Console.WriteLine("Exception when calling LicenseApi.LicensesGetInstances: " + e.Message);
          }
      - lang: kotlin
        label: Kotlin SDK
        source: |-
          import com.solifyn.infrastructure.ApiClient
          import com.solifyn.api.LicenseApi
          import com.solifyn.model.*
          import com.solifyn.infrastructure.ClientException
          import com.solifyn.infrastructure.ServerException

          ApiClient.accessToken = "your_private_api_key_here"
          val apiInstance = LicenseApi()
          val id = "lic_019e56a1..."

          try {
              val result = apiInstance.licensesGetInstances(id)
              println(result)
          } catch (e: ClientException) {
              println("Client error: ${e.message}")
          } catch (e: ServerException) {
              println("Server error: ${e.message}")
          }
      x-accepts:
      - application/json
  /v1/licenses/{id}/instances/{instanceId}:
    get:
      description: Retrieve administrative details of a specific software license
        instance.
      operationId: licenses:getInstance
      parameters:
      - description: The unique administrative identifier (ID) of the parent license
          key.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The client-generated instance ID (hardware hash) or the internal
          database ID of the instance.
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          example: inc_123
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
          description: Successfully retrieved instance.
      security:
      - ApiKeyAuth: []
      summary: Get License Key Instance
      tags:
      - License
      - License Keys
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Retrieve administrative details of an instance
          const instance = await solifyn.licenses.getInstanceAdmin('lic_019e56a1...', 'inst_019e56a2...');
          console.log('Instance Details:', instance);
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Retrieve administrative details of an instance
          const instance = await solifyn.licenses.getInstanceAdmin('lic_019e56a1...', 'inst_019e56a2...');
          console.log('Instance Details:', instance);
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.LicenseApi(api_client)
              id = "lic_019e56a1..."
              instance_id = "inst_019e56a2..."

              try:
                  response = api_instance.licenses_get_instance(id, instance_id)
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling LicenseApi->licenses_get_instance: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\LicenseApi;
          use GuzzleHttp\Client;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new LicenseApi(
              new Client(),
              $config
          );
          $id = 'lic_019e56a1...';
          $instance_id = 'inst_019e56a2...';

          try {
              $result = $apiInstance->licensesGetInstance($id, $instance_id);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling LicenseApi->licensesGetInstance: ', $e->getMessage(), PHP_EOL;
          }
      - lang: go
        label: Go SDK
        source: |-
          import (
              "context"
              "fmt"
              "os"
              solifyn "github.com/solifyn/solifyn-go"
          )

          configuration := solifyn.NewConfiguration()
          apiClient := solifyn.NewAPIClient(configuration)
          auth := context.WithValue(context.Background(), solifyn.ContextAccessToken, "your_private_api_key_here")
          id := "lic_019e56a1..."
          instanceId := "inst_019e56a2..."

          resp, r, err := apiClient.LicenseAPI.LicensesGetInstance(auth, id, instanceId).Execute()
          if err != nil {
              fmt.Fprintf(os.Stderr, "Error when calling `LicenseAPI.LicensesGetInstance`: %v\n", err)
              fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
              return
          }
          fmt.Printf("Response: %v\n", resp)
      - lang: java
        label: Java SDK
        source: |-
          import com.solifyn.ApiClient;
          import com.solifyn.ApiException;
          import com.solifyn.Configuration;
          import com.solifyn.auth.HttpBearerAuth;
          import com.solifyn.api.LicenseApi;
          import com.solifyn.model.*;
          import java.math.BigDecimal;
          import java.util.Arrays;
          import java.util.HashMap;
          import java.util.List;
          import java.util.Map;

          ApiClient defaultClient = Configuration.getDefaultApiClient();
          defaultClient.setBasePath("https://api.solifyn.com");

          HttpBearerAuth ApiKeyAuth = (HttpBearerAuth) defaultClient.getAuthentication("ApiKeyAuth");
          ApiKeyAuth.setBearerToken("your_private_api_key_here");

          LicenseApi apiInstance = new LicenseApi(defaultClient);
          String id = "lic_019e56a1...";
          String instanceId = "inst_019e56a2...";

          try {
              Instance result = apiInstance.licensesGetInstance(id, instanceId);
              System.out.println(result);
          } catch (ApiException e) {
              System.err.println("Exception when calling LicenseApi#licensesGetInstance");
              e.printStackTrace();
          }
      - lang: ruby
        label: Ruby SDK
        source: |-
          require 'solifyn'

          Solifyn.configure do |config|
            config.access_token = 'your_private_api_key_here'
            config.host = 'localhost:8000'
          end

          api_instance = Solifyn::LicenseApi.new
          id = 'lic_019e56a1...'
          instance_id = 'inst_019e56a2...'

          begin
            result = api_instance.licenses_get_instance(id, instance_id)
            p result
          rescue Solifyn::ApiError => e
            puts "Exception when calling LicenseApi->licenses_get_instance: #{e}"
          end
      - lang: csharp
        label: C# SDK
        source: |-
          using Solifyn.Api;
          using Solifyn.Client;
          using Solifyn.Model;
          using System;
          using System.Collections.Generic;

          var config = new Configuration();
          config.BasePath = "https://api.solifyn.com";
          config.AccessToken = "your_private_api_key_here";

          var licenseApi = new LicenseApi(config);
          var id = "lic_019e56a1...";
          var instanceId = "inst_019e56a2...";

          try {
              var result = licenseApi.LicensesGetInstance(id, instanceId);
              Console.WriteLine(result);
          }
          catch (ApiException e) {
              Console.WriteLine("Exception when calling LicenseApi.LicensesGetInstance: " + e.Message);
          }
      - lang: kotlin
        label: Kotlin SDK
        source: |-
          import com.solifyn.infrastructure.ApiClient
          import com.solifyn.api.LicenseApi
          import com.solifyn.model.*
          import com.solifyn.infrastructure.ClientException
          import com.solifyn.infrastructure.ServerException

          ApiClient.accessToken = "your_private_api_key_here"
          val apiInstance = LicenseApi()
          val id = "lic_019e56a1..."
          val instanceId = "inst_019e56a2..."

          try {
              val result = apiInstance.licensesGetInstance(id, instanceId)
              println(result)
          } catch (e: ClientException) {
              println("Client error: ${e.message}")
          } catch (e: ServerException) {
              println("Server error: ${e.message}")
          }
      x-accepts:
      - application/json
    patch:
      description: Update administrative details (like friendly display name or custom
        IP) of an active license device instance.
      operationId: licenses:updateInstance
      parameters:
      - description: The client-generated instance ID (hardware hash) or the internal
          database ID of the instance.
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          example: inc_123
          type: string
        style: simple
      - description: The unique administrative identifier (ID) of the parent license
          key.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/licenses_updateInstancePost_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
          description: Successfully updated instance.
      security:
      - ApiKeyAuth: []
      summary: Update License Key Instance
      tags:
      - License
      - License Keys
      x-codeSamples:
      - lang: typescript
        label: TypeScript SDK
        source: |-
          import { Solifyn } from 'solifyn';

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Update license key instance friendly name or IP
          const instance = await solifyn.licenses.updateInstanceAdmin(
            'lic_019e56a1...',
            'inst_019e56a2...',
            {
              instanceName: 'MacBook Pro 16"',
              ipAddress: '203.0.113.42'
            }
          );
          console.log('Instance Updated:', instance);
      - lang: javascript
        label: JavaScript SDK
        source: |-
          const { Solifyn } = require('solifyn');

          const solifyn = new Solifyn({ apiKey: 'your_private_api_key_here' });

          // Update license key instance friendly name or IP
          const instance = await solifyn.licenses.updateInstanceAdmin(
            'lic_019e56a1...',
            'inst_019e56a2...',
            {
              instanceName: 'MacBook Pro 16"',
              ipAddress: '203.0.113.42'
            }
          );
          console.log('Instance Updated:', instance);
      - lang: python
        label: Python SDK
        source: |-
          import solifyn
          from solifyn.rest import ApiException

          configuration = solifyn.Configuration(
              host = "https://api.solifyn.com"
          )
          configuration.access_token = "your_private_api_key_here"

          with solifyn.ApiClient(configuration) as api_client:
              api_instance = solifyn.LicenseApi(api_client)
              id = "lic_019e56a1..."
              instance_id = "inst_019e56a2..."
              update_instance_dto = solifyn.UpdateInstanceDto(
                  name="Office Laptop",
              )

              try:
                  response = api_instance.licenses_update_instance(id, instance_id, update_instance_dto)
                  print("Response received:", response)
              except ApiException as e:
                  print("Exception when calling LicenseApi->licenses_update_instance: %s\n" % e)
      - lang: php
        label: PHP SDK
        source: |-
          require_once(__DIR__ . '/vendor/autoload.php');

          use Solifyn\Configuration;
          use Solifyn\Api\LicenseApi;
          use GuzzleHttp\Client;
          use Solifyn\Model\UpdateInstanceDto;

          $config = Configuration::getDefaultConfiguration()
              ->setAccessToken('your_private_api_key_here');
          $apiInstance = new LicenseApi(
              new Client(),
              $config
          );
          $id = 'lic_019e56a1...';
          $instance_id = 'inst_019e56a2...';
          $update_instance_dto = new UpdateInstanceDto();
          $update_instance_dto->setName('Office Laptop');

          try {
              $result = $apiInstance->licensesUpdateInstance($id, $instance_id, $update_instance_dto);
              print_r($result);
          } catch (Exception $e) {
[...]
